@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
p,
a,
ul {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.menu {
  background-color: #ebc9a2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
}

.menu li {
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
}

.menu a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 560px;
  position: relative;
  margin: 0 auto 50px auto;
  background-color: #f3f7f7;
}



